$White: #ffffff;
$black: #000000;
$font-family: "Roboto", sans-serif;
$light-green: #317c68;
$deep-twilight-blue: #030946;
$soft-frost: #e9f8f9;
$form-color: #f3f4f7;
$primary-txt-color: #262626;
$secondary-txt-color: #6c7689;
$placeholder-color: #756e6e;
$bright-aqua: #12c8b9;